# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env

# OS files
.DS_Store
Thumbs.db

# old notebooks to reference
build_dataset.ipynb
eda.ipynb 
pull_aqs_airnow.ipynb
pull_aqs.ipynb
pull_hvo_episodes.ipynb
pull_openmeteo.ipynb
pull_purpleair.ipynb

# too big data files
data/raw/aqs/aqs_all.csv